
body {
    font-family: 'Work Sans', sans-serif;
}
header {
    color:black;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    width: auto;
}
header .container {
    display: flex;
    justify-content: space-around;
}
header .container li a{
     color: black;
    text-decoration: none;
    /* display: inline; */
}
header .container ul li{
    /* text-decoration: none; */
    padding: 0px 30px 0px 30px;
    display: inline;
}
nav ul li a{
    color: black;
    font-weight: bolder;
}
nav ul li a :hover{
    color: yellow;
}
header{
    padding: 20px 0px 0px 0px;
}
#uppersection {
min-height: 800px;
background: url('/assets/landscape.jpg') no-repeat;
background-position: cover;
}
#formwrapper {
    margin: 100px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}
#content h1{
    margin: 0 auto;
    color:white;
    font-family: 'Work Sans', sans-serif;
    align-content: center;
}
.dropdown  {
    padding: 20px 120px 20px 120px;
    border-radius: 4px;
    border-style: none;
    background-color: white;
    font-size: large;
}
#button {
    padding: 20px 120px 20px 120px;
    background-color:#356ad8;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: bolder;
    margin: 0px 200px 0px 0px;

}
#heading #middleheading{
    text-align: center;
    margin: 200px 0px 0px 0px;
     font-weight: 900;
}
#boxes h1{
    text-align: center;
    padding: 40px 0px 0px 0px;
     font-weight: 900;
}
#content{ 
    min-height: 500px;
    display: flex;
flex-direction: column;
justify-content: space-around;
}
.container #boxes {
    margin:0px 0px 0px 0px;
}
.container #boxes .row {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.container #boxes .row .bottomtext {
    font-weight: bold;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}
.container #boxes p {
    color:blueviolet;
    font-weight: bolder;
}