
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
   
    color:black;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    width: auto;
}
header .container {
    display: flex;
    justify-content: space-around;
}
header .container li a{
     color: black;
    text-decoration: none;
    /* display: inline; */
}
header .container ul li{
    /* text-decoration: none; */
    padding: 0px 30px 0px 30px;
    display: inline;
}
nav ul li a{
    color: black;
    font-weight: bolder;
}
nav ul li a :hover{
    color: yellow;
}
header{
    padding: 20px 0px 0px 0px;
}
#uppersection {
position: relative;
min-height: 800px;
background-image: url('/assets/landscape.jpg');
background-size: cover;
/* background-clip: border-box; */
}
#formwrapper {
    margin: 100px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}
#content h1{
    margin: 0 auto;
    color:white;
    font-family: 'Work Sans', sans-serif;
    align-content: center;
}
.dropdown  {
    padding: 20px 120px 20px 120px;
    border-radius: 4px;
    border-style: none;
    background-color: white;
    font-size: large;
}
#button {
    padding: 20px 120px 20px 120px;
    background-color:#356ad8;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: bolder;
    margin: 0px 200px 0px 0px;

}
#heading #middleheading{
    text-align: center;
    margin: 200px 0px 0px 0px;
     font-weight: 900;
}
#boxes h1{
    text-align: center;
    padding: 40px 0px 0px 0px;
     font-weight: 900;
}
#content{ 
    opacity: 0.9;
    min-height: 500px;
    display: flex;
flex-direction: column;
justify-content: space-around;
}
.container #boxes {
    margin:0px 0px 0px 0px;
}
.container #boxes .row {
    /* width: 30%; */
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.container #boxes .row .bottomtext {
    font-weight: bold;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}
.container #boxes p {
    color:blueviolet;
    font-weight: bolder;
}
#viewallbutton{
    margin-top: 40px;
    margin-left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#viewallbutton button {
    padding: 25px 100px 25px 100px;
    background-color:#356ad8;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: bolder;
    margin: 0px 200px 0px 0px;
}
.socialicons{
display: flex;
flex-direction: column;
justify-content: space-between;
position: absolute;
margin-top: 25%;
margin-left: 95%;
height: 30%;
width: 5%;
/* background-color: red; */
}
.socialicons a{
   color:white;
}
.socialicons a:hover{
    color:green;
 }
 .container_partners {
    width: 100%;
    min-height: 450px;
    background-color:whitesmoke;
    margin-top:70px;
 }
 
.container_partners  #partners {
    display: flex;
    justify-self: center;
    text-justify:inter-word;
     /* margin: 0 auto; */
     display: flex;
     justify-content: space-around;
}
    
.container_partners  #partners   .partners_child{
    padding: 50px 0px 0px 50px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 15%;
     margin-bottom: 4px;
 }
 .container_partners #partners button{
    
    padding: 15px 80px 15px 80px;
    background-color:#356ad8;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: bolder;
 }
 .container_partners  #partners p{
     font-size: 18px;
     line-height: 1.5556;
 
 }
 .partners_child .partners_row{
     display: flex;
     justify-content: space-between;
 }
 .partners_child .partners_row img{
border-radius: 10px;
}
.container #advantages{
margin-top: 100px;
text-align: center;
}
.container #advantages p{
    font-weight: bolder;
    font-size: 20px;
}
.container #advantages #items_row{
    margin:60px 0px 0px 0px;
display: flex;
justify-content: space-evenly;
}